<footer class="d-flex footerGC7">
  <div>
    PHP<?= phpversion()?>
    - <span id="jQGC7"></span>
  </div>
  <div class="ml-auto">
    &copy; 2019 - <a href="<?=(($path==='/gc7')?$path:'/')?>">GC7</a>
  </div>
</footer>
