@font-face {
  font-family: Comic;
  font-style: normal;
  font-weight: 400;
  src:
    url(./fonts/comic.eot) format('eot'),
    url(./fonts/comic.woff2) format('woff2'),
    url(./fonts/comic.woff) format('woff'),
    url(./fonts/comic.ttf) format('truetype'),
    url("./fonts/comic.svg#Comic Sans MS") format('svg');
}

@import '../../../gc7/tools/vd';

body {
  width: 100%;
  font-size: 1.2em;
  color: maroon;
  font-family: "Comic", serif;
  background-color: cornsilk;
}

h1  {
  margin: 10px auto!important;
}

p {
  font-size: .9em;
}
