<template>
    <div class="card">
        <div class="card-header">
            <i class="fas fa-code"></i> Liens divers
        </div>
        <div class="card-body">
            I'm an example Vue component!
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
