<?php
$ite = $_COOKIE["serveur"] ;

?><nav>

    <a href="<?php echo $ite ; ?>">Acceuil</a>
    
    <br />
    <a href="<?php echo $ite ; ?>/controleur/affichageFlashCard.php">Afficher une Flash-Card</a>
    
    <br />
    
    <a href="<?php echo $ite ; ?>/controleur/creationFlashCards.php">Créer une Flash-Card</a>
    
    <br />
    
    <a href="<?php echo $ite ; ?>/controleur/creationFamille.php">Créer une famille</a>
    <br />
    
    <a href="<?php echo $ite ; ?>/controleur/install.php">Installation du site Flash - Cards </a>
    <br />
    
    <a href="<?php echo $ite ; ?>/uuu/a.php">teste : ___a___    </a>
    <br />
    
    <a href="<?php echo $ite ; ?>/controleur/install.php">Création Des Tables</a>
</nav>
