footer {
    hr {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    p {
        font-size: 0.8em;
        padding: 0;
        margin-top: 0;
        font-style: italic;
    }
}

.jl {
    color: grey;
}

.tar {
    text-align: right;
}
