/* CSS de svd()*/
@import '../../tools/vd';
/* juste pour une variable quiprécise si SG ou local */
// @import '../../assets/css/_diapo';

$dmn:'/gc7';

@if ($dmn='/gc7') {
  $path: 50px;
}

body {
  // width: 100%;
  font-size: 1em;
  color: maroon;
  font-family: "Comic", serif;
  background-color: cornsilk;
}

footer {
  border-top: 1px solid rgb(204, 202, 202);
  margin-right: 5px;
  margin-left: 3px;
  font-style: italic;
  font-size: 12px;
  padding-top: 0;

  &,
  a {
    color: rgb(139, 139, 139);
  }

  .footerGC7 {
    //   padding: 0;
    //   margin: 0;
    color: blue !important;
    //   margin-bottom: 5rem !important;
    //   background-color: #00f;
  }
}

h1 {
  margin: 10px auto !important;
}

p {
  font-size: .9em;
}

.letspace {
  letter-spacing: .2em;
}

.main {
  margin-top: 5px;
}

.tac {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

#lio {
  text-align: right;
  font-size: .7em;

  .lio {
    color: rgb(0, 0, 255) !important;
  }
}
