#manudon {
    position: fixed;
    z-index: 9;
    top: 0;
    right: 10px;
}

#demo {
    font-family: 'Helvetica', Arial, sans-serif;
}

a.commit {
    text-decoration: none;
    color: #f66;
}

li.spaced {
    line-height: 1.5em;
    margin-bottom: 15px;
}

.author,
.date {
    font-weight: bold;
}

.spaceli {
    margin-right: 20px;
}
