html, body {
    margin: 0;
  }
  
  #particle-canvas {
    width: 100%;
    height: 100vh;
    height: 25vh;
    background: linear-gradient(to bottom, rgb(10, 10, 50) 0%,rgb(60, 10, 60) 100%);
    vertical-align: middle;
  }